# Handling Imbalanced Dataset
    1. Up Sampling: Increasing Minority Class to the shape of Majority
    2. Down Sampling: Decreasing Majority Class to the shape of Minority

- **Initialsing Sample Class**

In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

- **Create Dataframe with imbalanced dataset**

In [3]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2' : np.random.normal(loc=2, scale=1, size=n_class_1),
    'target' : [1] * n_class_1
})

In [24]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [25]:
df.shape

(1000, 3)

In [26]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [27]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [28]:
df.shape

(1000, 3)

In [29]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Up-Sampling

In [36]:
# Up-Sampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [39]:
from sklearn.utils import resample
df_minority_upsample=resample(df_minority,replace=True, #Sample with replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [40]:
df_minority_upsample.shape

(900, 3)

In [41]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [43]:
df_upsampled=pd.concat([df_majority,df_minority_upsample]).reset_index(drop=True)

In [44]:
df_upsampled

      feature_1  feature_2  target
0     -1.085631   0.551302       0
1      0.997345   0.419589       0
2      0.282978   1.815652       0
3     -1.506295  -0.252750       0
4     -0.578600  -0.292004       0
...         ...        ...     ...
1795   1.188902   2.189189       1
1796   3.919526   1.980541       1
1797   2.810326   3.604614       1
1798   3.621531   2.168229       1
1799   1.160887   2.489203       1

[1800 rows x 3 columns]

In [45]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down-sampling

In [52]:
# down-sampling

df_majority_downsampled=resample(df_majority,replace=False,
                                 n_samples=len(df_minority),
                                 random_state=42
        )

In [53]:
df_majority_downsampled.shape

(100, 3)

In [54]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled]).reset_index(drop=True)

In [55]:
df_downsampled

     feature_1  feature_2  target
0     1.699768   2.139033       1
1     1.367739   2.025577       1
2     1.795683   1.803557       1
3     2.213696   3.312255       1
4     3.033878   3.187417       1
..         ...        ...     ...
195  -0.168426   0.553775       0
196  -0.403366   0.081491       0
197  -0.269293   0.611238       0
198  -0.295829   0.671673       0
199  -0.553404   0.804438       0

[200 rows x 3 columns]

In [56]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

#### **Mostly Upsampling should be done as in Down-Sampling we are Loosing Data Points**