## Algerian Forest Fires Dataset EDA Project

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df=pd.read_csv('Algerian_forest_fires_dataset.csv')
df.head()

                                                                  Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC  ISI BUI FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6 1.3 3.4 0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6 1   3.9 0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1 0.3 2.7 0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9 0   1.7 0              not fire

### Data Checks to Perform
- Check Missing Values
- Check Duplicates
- Check Data types
- Check the number of unique values of each columns
- Check Statistics of Dataset
- Check Various Categories present in the different categorical column

In [3]:
# Check Missing Values
df.isnull().sum()

Bejaia Region Dataset     2
dtype: int64

In [7]:
df['Bejaia Region Dataset '].unique()

array(['Classes  ', 'not fire   ', 'fire   ', 'fire', 'fire ', 'not fire',
       'not fire ', nan, 'not fire     ', 'not fire    '], dtype=object)

In [12]:
import random
random.seed(42)  # Set the seed for reproducibility
df['Bejaia Region Dataset '] = df['Bejaia Region Dataset '].apply(lambda x: random.choice(['fire', 'not fire']) if pd.isna(x) else x)

In [13]:
df.isnull().sum()

Bejaia Region Dataset     0
dtype: int64

In [15]:
# Check Duplicates
df.duplicated().sum()

238

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.duplicated().sum()

0

In [21]:
# Check Data types
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9 entries, ('day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI') to ('30', '09', '2012', '24', '64', '15', '0.2', '67.3', '3.8', '16.5', '1.2', '4.8', '0.5')
Data columns (total 1 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bejaia Region Dataset   9 non-null      object
dtypes: object(1)
memory usage: 43.2+ KB

In [22]:
df.nunique()

Bejaia Region Dataset     9
dtype: int64

In [23]:
df.describe()

       Bejaia Region Dataset
count                       9
unique                      9
top                 Classes
freq                        1

In [27]:
numerical_features=df.select_dtypes(include='number')