#### Type Casting

In [1]:
a='123'

In [2]:
int('123')

123

#### Different Types of Print Statements

In [3]:
age=21
print("My age is: ",age)

My age is:  21

In [4]:
#fstring
print(f"My age is: {age}")

My age is: 21

In [5]:
# format()
name="Gaurav"
age=21
print("My name is {} and age is {}".format(name,age))

My name is Gaurav and age is 21

In [6]:
# placeholder
print("My name is {firstname} and age is {myage}".format(myage=age,firstname=name))

My name is Gaurav and age is 21

In [7]:
degree="BE"
print("my age is {} and I have completed My Degree of {} with the name of {}".format(age,degree,name))

my age is 21 and I have completed My Degree of BE with the name of Gaurav

In [8]:
print(f"my age is {age} and I have completed My Degree of {degree} with the name of {name}")

my age is 21 and I have completed My Degree of BE with the name of Gaurav

#### Control Flow
**Decision Making Statements: They are used for Making Decision on certain conditions which are categorised as follows:**

    1. if
    2. if else
    3. if elif else
    4. Nested if
    5. Single Statement Suites

In [9]:
if age>=18:
    print("You are eligible to Vote")
else:
    print("Not Eligible")

You are eligible to Vote

In [12]:
## Task
age=int(input("Enter your age: "))
if (age>=18 and age<=45):
    print("You are Young Blood")
else:
    print("Not Young Blood")

Enter your age:  25

You are Young Blood

In [17]:
#Task
price=int(input("Enter Product Price: "))
if price>1000:
    print("20% Off, Price for you will be:",0.8*price)
elif price<=1000 and price>500:
    print("10% Off, Price for you will be:",0.9*price)
else:
    print("Sorry! No Discount, Price for you will be:",price)

Enter Product Price:  800

10% Off, Price for you will be: 720.0

In [21]:
#Single Statement Suites
val=int(input("Enter the number: "))
if(val<=999):print("Value is less than equal to 999")
else:print("Go Home")

Enter the number:  100

Value is less than equal to 999

#### Loop
1. while Loop
2. for loop
3. nested loops
4. Loop Control(break,continue,pass)

In [24]:
#While loop
retirement_age=60
joining_age=25
i=1
while(joining_age<=retirement_age):
    joining_age+=1
else:
    print(f"Its Time for Retirement as age is: {joining_age}")

Its Time for Retirement as age is: 61

In [26]:
#Task
money=1000
while(money!=0):
    money-=100
print(money)

0

In [30]:
#for loop

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [31]:
l=["Gaurav","Bhadane",21,True,12.66,False]
for i in l:
    print(i)

Gaurav
Bhadane
21
True
12.66
False

In [32]:
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [38]:
n=7
for i in range(n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [40]:
fruits=["Mango","Banana","Orange","Apple","Grapes"]
#Break Statement
for i in fruits:
    if i=="Banana":
        print("The fruit is Banana")
        break
    print(i)

Mango
The fruit is Banana

In [41]:
#Continue Statement
for i in fruits:
    if i=="Banana":
        print("The fruit is Banana")
        continue
    print(i)

Mango
The fruit is Banana
Orange
Apple
Grapes

In [43]:
#Pass Statement
for i in fruits:
    if i=="Banana":
        print("The fruit is Banana")
        pass  #No Change Takes Place
    print(i)

Mango
The fruit is Banana
Banana
Orange
Apple
Grapes