## Measures of Dispersion:
    1. Standard Deviation
    2. Variance

#### Variance

In [1]:
age_list=[23,43,23,56,74,32,68,98,45,32]

In [2]:
import numpy as np

In [4]:
mean=np.mean(age_list)
mean

49.4

In [5]:
variance=np.var(age_list)
variance

541.64

#### Standard Deviation

In [7]:
std=np.std(age_list)
std

23.273160507331188

In [8]:
np.sqrt(variance)

23.273160507331188

#### Dataframe

In [9]:
import pandas as pd

In [10]:
data=[[10,12,13],[34,23,45],[32,34,21]]

In [11]:
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [15]:
df=pd.DataFrame(data,columns=["A","B","C"])

In [16]:
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [17]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [18]:
# Variance Row wise
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64